<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="containerBlood">
        <div class="pour"></div>
        <div class="pourTube"></div>
        <div id="beaker">
            <div class="beer-foam">

            </div>
            <div id="plastic">

            </div>

            <div class="drop firstDrop"></div>
            <div class="drop secondDrop"></div>
            <div class="drop thirdDrop"></div>

            <div id="liquid">
                <div class="bubble bubble1"></div>
                <div class="bubble bubble2"></div>
                <div class="bubble bubble3"></div>
                <div class="bubble bubble4"></div>
                <div class="bubble bubble5"></div>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
</body>

</html>